<div class='about-wrap'>
	<%= image_tag @about.avatar_url %>
	<div class='about-text'><%= @about.content %></div>
</div>
<script>
$(document).ready(function () {
	var selected_menu = $("#about");
	selected_menu.addClass('nav-active');
})
</script>
