<div class='post about-wrap'>
	<%= image_tag @about.avatar_url %>
	<div class='post_detail_descs'>
		<div class='post_detail_desc about-text'><%= @about.content %></div>
	</div>

</div>
<script>
$(document).ready(function () {
	var selected_menu = $("#about");
	selected_menu.addClass('nav-active');
})
</script>
