<div class="grid">
  <div class="grid-sizer"></div>
	<% @posts.each_with_index do |post, index| %>
		<% unless post.post_attachments.blank? %>
			<div class="grid-item">
				<a href='<%=home_post_path(post.bulletin.list.title, post.bulletin.title, post)%>'>
					<figure>
						<%= image_tag(post.post_attachments.first.avatar_url.gsub('images/', 'images/thumb_'), id: "p#{index}") %>
					</figure>
				</a>
			</div>
		<% end %>
	<% end %>
</div>

<script>
$(document).ready(function () {
	var selected_menu = $("#<%= @selected %>");
	selected_menu.addClass('nav-active');

	var $grid = $('.grid').masonry({
	  itemSelector: '.grid-item',
	  percentPosition: true,
	  columnWidth: '.grid-sizer',
    transitionDuration: 0,
    gutter: 5
	});
	// layout Isotope after each image loads
	$grid.imagesLoaded().progress( function() {
	  $grid.masonry();
	});


})
</script>
