<div class="grid">
  <div class="grid-sizer"></div>
	<% @posts.each_with_index do |post, index| %>
		<% unless post.post_attachments.blank? %>
			<div class="grid-item">
				<a href='<%=home_post_path(post.bulletin.list.title, post.bulletin.title, post)%>'>
					<figure>
						<%= image_tag(post.post_attachments.first.avatar.thumb_large, id: "p#{index}", class: 'fig-img od') %>
            <%= image_tag(post.post_attachments.first.avatar.thumb, id: "p#{index}", class: 'fig-img om') %>
					</figure>
				</a>
			</div>
		<% end %>
	<% end %>
</div>

<script>

var touchedImg;
var isTouched = false;

$(document).ready(function () {
	var selected_menu = $("#<%= @selected %>");
	selected_menu.addClass('nav-active');

	var $grid = $('.grid').masonry({
	  itemSelector: '.grid-item',
	  percentPosition: true,
	  columnWidth: '.grid-sizer',
    transitionDuration: 0,
    gutter: 5
	});
	// layout Isotope after each image loads
	$grid.imagesLoaded().progress( function() {
	  $grid.masonry();
    $('.fig-img').on('touchstart click', function (e) {
        console.log("touched!");
          var link = $(this); //preselect the link
          if (link.hasClass('touched')) {
              return true;
          } else {
            if(isTouched == true) {
              touchedImg.removeClass('touched');
              isTouched = false;
            }

              link.addClass('touched');
              touchedImg = link;
              isTouched = true;
              //e.preventDefault();
              return true;
          }
      });
      $('html').on('touchend', function (e) {
        if(isTouched == true) {
          touchedImg.removeClass('touched');
          isTouched = false;
        }
      });
      $( ".fig-img" ).hover(
        function() {
          $( this ).addClass("touched");
        }, function() {
          $( this ).removeClass("touched");
        }
      );
	});


})
</script>
