<div class='post'>
	<%= image_tag @post.picture %>
	<div class='post_detail'>
		<div class='post_detail_title'>
			<%= @post.title %>
		</div>
		<div class='post_detail_desc'>
			<%= @post.desc %>
		</div>
		<div class='post_detail_content'>
			<%= simple_format(@post.content) %>
		</div>
	</div>
</div>
