<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<div class='slider'>
	<% @posts.each_with_index do |post, index| %>
		<% unless post.post_attachments.blank? %>
		<div>
				<a href='<%=home_post_path(post)%>'>
						<%= image_tag(post.post_attachments.first.avatar_url.gsub('images/', 'images/thumb_'), id: "p#{index}") %>
				</a>
			</div>
		<% end %>
	<% end %>
</div>

<script>
$(document).ready(function () {

$(".slider").slick({
		slidesToShow: 1,
		infinite: true,
		autoplay: true,
		fade: true,
		autoplayspeed: 700
});
});
</script>
