<body class='about'>
	<div class='about-wrap'></div>
	<%= link_to image_tag('logo.png', class: 'about-logo'), root_path %>
	<div class='about-text'>
		미술을 한 번도 배워본 적이 없는 이혜영은 언제나 그림에 대한 갈망을 가지고 있었다. 특히나 사랑하는 아버지와 반려견을 떠나보내며, 제2의 인생을 새로이 맞이하며 슬프면서도 행복했던 복잡 미묘한 심정을 치유하기 위해 그림을 시작하였다. 그림은 그녀에게 일기처럼 하루의 일상을 담아내는 작업이었다.

		그림을 그리는 순간 그녀는 세상에 그림과 자신만이 존재하는 것 같은 환희를 느낀다. 오로지 그림과 그녀만이 있는 순간은 가장 평온하며 행복한 시간이다. 또한 영감을 얻기 위해 많은 것들을 상상하는 순간은 그녀에게 또 다른 행복감을 전달한다.

		그녀는 자신에 작품에 공감하고 동화할 수 있는 많은 이들에게 언제나 고마움을 느낀다. 이는 계속해서 작품을 만들어 낼 수 있는 가장 큰 원동력이 되며 앞으로도 즐겁게 그림을 그려나가고 싶을 뿐이다.


		이혜영
	</div>
	<div class='about-image'>
		<%= image_tag 'about-photo.jpg' %>
	</div>
</body>
