<body class='white'>
	<table id='wrapper'>
		<tr>
			<td><div class='choose-container'><%= link_to 'About', welcome_about_path, class: 'choose' %>|<%= link_to 'Works', home_index_path, class: 'choose' %></div></td>
		</tr>
	</table>
	</body>
</body>
