html, body, #wrapper {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Questrial', sans-serif;
}

.navigation {
    width: 410px;
    height: 100%;
    position: fixed;
		padding: 70px 66px 0 90px;
}

.section {
    width: 716px;
    height: auto;
    position: absolute;
    margin-left: 410px;
		margin-top: 70px;
}

.logo {
	height: 15px;
}

.navigation-ul {
	width: 254px;
	margin-top: 70px;
	padding: 0;
}

ul {
	padding: 0 0 52px 0;
}

.list_title {
	list-style: none;
	font-size: 22px;
	text-decoration: none;
	color: rgba(0,0,0,0.9);
	margin-bottom: 15px;
}

.bulletin_title {
	list-style: none;
	margin-bottom: 10px;
}

.bulletin_title a {
	font-size: 17px;
	text-decoration: none;
	color: rgba(0,0,0,0.6);
}

.bulletin_title a:active{
	color: rgba(0,0,0,0.9);
}

.column {
	width: 48%;
	padding-right: 10px;
	float:left;
}

.column figure {
	width: 100%;
	margin: 0 0 11px 0;
	display: inline-block;
	background: #f9dce9;
}

.column figure img {
	width: 100%;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.column figure img:hover {
	opacity: .3;
}

.post img {
	width: 100%;
}


.post_detail {
	padding: 40px 20px;
	color: rgba(0, 0, 0, 0.6)
}

.post_detail_title {

}

.post_detail_desc {
	margin-top: 5px;
}

.post_detail_content {
	margin-top: 40px;
}

a:hover {
	color: rgb(181, 148, 0);
}

a:active {
	color: black;
}
