/*
*= require 'masonry/basic'
*= require 'masonry/gutters'
*/

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 900;
   src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
 }

html, body, #wrapper {
	width: 1210px;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Questrial', sans-serif, 'Noto Sans KR';
	overflow-x: scroll;
  overflow-y: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.navigation {
    height: 100%;
		padding: 70px 66px 0 90px;
    z-index: 100;
    float: left;
}

.section {
    width: 800px;
    height: 100% !important;
    height: auto;
		padding-top: 70px;
    overflow-y: scroll;
    float: left;
}

.logo {
	height: 15px;
}

.navigation-ul {
	width: 254px;
	margin-top: 70px;
	padding: 0;
}

ul {
	padding: 0 0 52px 0;
}

.list_title, .list_title a{
	list-style: none;
	font-size: 20px;
	text-decoration: none;
	color: rgba(0,0,0,0.6);
	margin-bottom: 15px;
}

.bulletin_title {
	list-style: none;
	margin-bottom: 10px;
}

.bulletin_title a {
	font-size: 16px;
	text-decoration: none;
	color: rgba(0,0,0,0.6);
}

.bulletin_title a:active{
	color: rgba(0,0,0,0.9);
}

.nav-active a {
  color: rgba(0,0,0,0.9);
}

.post img {
	width: 100%;
	margin-bottom: 11px;
}

.post {
  min-height: 720px;
}

.post_detail {
	padding: 40px 20px;
	color: rgba(0, 0, 0, 0.6)
}

.post_detail_titles {
  line-height: 20px;
  height: 20px;
}

.post_detail_title {
	font-size: 20px;
  display: inline-block;
}

.post_detail_title_kr {
	font-size: 18px;
  display: inline-block;
}

.post_detail_descs {
	margin-top: 8px;
  line-height: 13px;
}

.post_detail_desc {
	font-size: 13px;
  display: inline-block;
}

.post_detail_desc_kr {
	font-size: 12px;
  display: inline-block;
}

.post_detail_contents {
	margin-top: 32px;
}

.post_detail_content {
	font-size: 16px;
	line-height: 28px;
  white-space: pre-line;
	word-break: keep-all;
	word-wrap: break-word;
}

.post_detail_content_kr {
	font-size: 14px;
	line-height: 26px;
  white-space: pre-line;
	word-break: keep-all;
	word-wrap: break-word;
}

a:hover {
	color: rgb(181, 148, 0);
}

a:active {
	color: black;
}

.footer  {
	width: 100%;
	color: rgb(181, 148, 0);
	text-align: center;
	font-size: 12px;
  padding-top: 80px;
  padding-bottom: 80px;
}
* { box-sizing: border-box; }

/* ---- grid ---- */

.grid {
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
  padding: 0 5px 2px 0;
}

.grid-item figure {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  background: pink;
  /*background: #f9dce9;*/
  font-size: 0px;
}

.grid-item figure img {
	width: 100%;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.grid-item figure img:hover {
	opacity: .3;
  -webkit-filter: brightness(2) contrast(2) grayscale(100%); /* Chrome, Safari, Opera */
  filter: brightness(2) contrast(2) grayscale(100%);
}
