html, body, #wrapper {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Questrial', sans-serif;
}

#wrapper td {
	vertical-align: middle;
	text-align: center;
}

.pink {
	background-color: rgb(249, 220, 233);
}

.grey {
	background-color: rgba(0, 0, 0, 0.1);
}

.logo {
	height: 18px;
}

.choose-container, .choose {
	color: rgb(25, 25, 25);
	font-size: 18px;
}

.choose {
	text-decoration: none;
	margin: 0 38px;
}

.choose:hover {
	text-decoration: none;
	color: rgb(181, 148, 0);
}

.about {
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.about-wrap {
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	position: absolute;
	background: rgba(255, 255, 255, 0.4);
	z-index: -10;
}

.about-logo {
	height: 15px;
	margin-top: 75px;
	margin-left: 90px;
}

.about-text {
	width: 660px;
	height: 320px;
	white-space: pre-line;
	margin-top: 100px;
	margin-left: 90px;
	font-size: 15px;
	line-height: 23px;
}
