html, body, #wrapper {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Questrial', sans-serif;
}

#wrapper td {
	vertical-align: middle;
	text-align: center;
}

.pink {
	background-color: rgb(249, 220, 233);
}

.white {
	background-color: white;
}

.logo {
	width: 433px;
	height: 25px;
}

.choose-container, .choose {
	color: rgba(0, 0, 0, 0.9);
	font-size: 25px;
}

.choose {
	text-decoration: none;
	margin: 0 38px;
}

.choose:hover {
	text-decoration: none;
	color: rgb(181, 148, 0);
}
