html, body, #wrapper {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

#wrapper td {
	vertical-align: middle;
	text-align: center;
}

.pink {
	background-color: rgb(181, 148, 0);
}

.logo {
	width: 433px;
	height: 25px;
}
