<!DOCTYPE html>
<html>
<head>
  <title>LEEHAEYOUNG</title>
  <%= favicon_link_tag 'lhy-favicon.ico' %>
  <%= stylesheet_link_tag    'welcome', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
